html,
body {
    font-family: 'Slabo 27px', serif;
}

body {
  background-image: url("images/paper_fibers.png");
  background-repeat: repeat;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    border-bottom: solid 1px lightgrey;
}

ul li a {
    font-size: 1.5em;
}

.buttons {
    float: right;
}

input {
    width: 48%;
    padding: 2px;
    border: solid 6px lightgrey;
    border-radius: 4px;
}

.enter {
    margin: 2em auto 0 auto;
}

footer {
    position: fixed;
    bottom: 2em;
    font-size: 1.2em;
}